:root{
    --primary-text-color:#F3F3F3;
    --modal-background-color: #100F0F;
    --accent-color: #BC1A1A;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width:415px) {
    .container{
        width: 415px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:1020px) {
    .container{
        width: 1020px;
        padding-left: 47px;
        padding-right: 47px;
    }
}

@media screen and (min-width:1280px) {
    .container{
        width: 1280px;
        padding-left: 85px;
        padding-right: 85px;
    }
    
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-text-color);
    background: linear-gradient(237.05deg, #6F6666 1.42%, #100F0F 45.36%);
}

/* ===========HEADER============== */

.header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.logo {
    
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color);
}

.logo::before{
    content: "";
    display: inline-flex;
    width: 32px;
    height: 32px;
    background-image: url(../images/logo.png);
    background-size: contain;
    margin-right: 16px;
}

.menu-list {
    display: flex;
    gap: 52px;
}

.menu-link {
    font-weight: 600;
    line-height: 1.25;
    color: var(--primary-text-color);
}

@media screen and (max-width:1019px) {
    .menu-nav {
        display: none;
    } 
}

.mobile-menu-open {
    display: block;
    border-color: transparent;
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
    margin-left: auto;
}

.mobile-menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    z-index: 999;
    background-color: var(--modal-background-color);
    
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.mobile-menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu-header{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.mobile-menu-close{
    display: block;
    border-color: transparent;
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin-left: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
}

.logo-mobile {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-text-color);
}

.logo-mobile::before {
    content: "";
    display: inline-flex;
    width: 28px;
    height: 28px;
    background-image: url(../images/logo.png);
    background-size: contain;
    margin-right: 20px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin-bottom: 40px;
    
}

.mobile-nav-link {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color);
}

.contact-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    min-width: 160px;
    height: 40px;
    background-color: transparent;
    border: 1px solid var(--primary-text-color);
    border-radius: 16px;

    font-weight: 800;
    font-size: 16px;
    line-height: 1.25;
    color: var(--primary-text-color);
}

@media screen and (max-width: 1019px) {
    .contact-btn.header-btn {
            display: none;
        }
    
}

@media screen and (min-width:1020px) {
    .mobile-menu-open{
        display: none;
    }

    .mobile-menu-container{
        display: none;
    }

    .header-box {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .contact-btn {
        margin: 0;
    }
}

/* ===========HERO============== */

.section-hero{
    position: relative;
    padding: 40px 0;
    margin-bottom: 100px;
}

.hero-title {
    display: flex;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.23;
    max-width: 182px;
    margin-bottom: 16px;
}

.hero-title::before {
    content: "";
    display: inline-block;
    height: 66px;
    margin-right: 8px;
    border: 1px solid var(--primary-text-color);
}

.hero-second-title{
    line-height: 1.25;
    margin-bottom: 228px;
}

.hero-second-title .element {
    font-weight: 600;
    color: var(--accent-color);
}

.hero-bg-box {
    position: absolute;
    top: 184px;
    left:0;
    transform: rotate(-20.76deg);
    opacity: 0.2;
}

.hero-img-box{
    position: absolute;
    top: 24px;
    right: 15px;
    z-index: 2;
    filter: drop-shadow(-16px 0px 3px rgba(0, 0, 0, 0.25));
}

.hero-btn {
    display: block;
    border: none;
    padding: 21px 148px;
    width: 100%;
    height: 66px;
    border-radius: 16px;
    background-color: rgba(188, 26, 26, 0.2);

    font-size: 20px;
    line-height: 1,2;
    color: var(--primary-text-color);
}

.hero-text-content {
    margin-top: 16px;
    display: flex;
    margin-bottom: 24px;
}

.left-box{
    display: flex;
    width: 50%;
    flex-shrink: 0;
    align-items: center;
    
}

.right-box{
    display: flex;
    width: 50%;
    align-items: center;
    margin-left: 19px;
    
    
}
.hero-number {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.21;
    margin-right: 12px;
    
}

.left-box::after {
    content: "";
    display: inline-flex;
    height: 78px;
    border: 1px solid var(--primary-text-color);
    margin-left: 22px;
}

.hero-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    line-height: 0;
}



@media screen and (min-width:1020px) {
    .hero-bg-box {
        display: none;
    }

    .section-hero {
        padding: 72px 0 31px 0;
    }

    .hero-title {
        font-size: 64px;
        line-height: 1.21;
        max-width: 388px;
        margin-bottom: 24px;
    }

    .hero-title::before {
        height: 153px;
        margin-right: 12px;
    }

    .hero-second-title {
        line-height: 1.22;
        font-weight: 300;
        font-size: 36px;
        margin-bottom: 48px;
    }

    .hero-second-title .element {
        font-weight: 800;
        color: rgba(188, 26, 26, 0.71);
    }
    
    .hero-btn {
        width: 302px;
        padding: 20px 84px;
        height: 77px;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.23;
        margin-bottom: 48px;
    }

    .hero-text-content {
        width: 371px;
        margin-bottom: 74px;
    }

    .hero-number {
        margin-right: 10px;
    }

    .left-box::after {
        margin-left: 10px;
    }

    .right-box {
        margin-left: 14px;
    }

    .hero-social-list {
        gap: 40px;
    }

    .hero-social-icon {
        width: 24px;
        height: 24px;
    }

    .hero-img-box {
        top: 72px;
        right: 47px;
    }
}






